* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
}
:root {
    --blue: #66E2DC;
    --orange: #FA7453;
    --yellow: #FFB964;
    --white: #FCFAF9;
    --dark-blue: #191826
}

header {
    background-image: url("./assets/bg-main-mobile.png");
    background-size: cover;
    margin: 2.5rem 2.5rem 10rem 2.5rem;
}
.header__logo {
    margin-bottom: 3rem;
}
.header__copy {
    width: 95%;
    margin-bottom: 2rem;
    line-height: 2rem;
}

.header__copy h1 {
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 2rem;
}

.main__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-blue);
    border-radius: 5px;
    position: relative;
    height: 40rem;
}
.main__image img {
    position: absolute;
    max-width: 250px;
    left: 50%;
    top: 10rem;
    transform: translate(-50%, -50%)
}
