* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
}
:root {
    --blue: #66E2DC;
    --orange: #FA7453;
    --yellow: #FFB964;
    --white: #FCFAF9;
    --dark-blue: #191826
}

header {
    background-image: url("./assets/bg-main-mobile.png");
    background-size: cover;
    margin: 2.5rem 2.5rem 10rem 2.5rem;
}

.header__logo {
    margin-bottom: 3rem;
}
.header__copy {
    width: 95%;
    margin-bottom: 2rem;
    line-height: 2rem;
}

.header__copy h1 {
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 2rem;
}

.main__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-blue);
    border-radius: 5px;
    position: relative;
    height: 76rem;
    margin-bottom: 3rem;

}
.main__image img {
    position: absolute;
    max-width: 250px;
    left: 50%;
    top: 10rem;
    transform: translate(-50%, -50%)
}
.main__copy {
    color: var(--white);
    background-color: var(--orange);
    padding: 2rem 2.5rem;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    margin-bottom: 15rem;
}

.main__copy h2 {
   font-size: 32px;
    margin-bottom: 1rem;
    letter-spacing: 1.5px;
}

.main__copy p {
    letter-spacing: 1.5px;
    margin-bottom: 1rem;
}

.main__pricing {
    display: flex;
    align-items: center;
    gap: 1.5rem
}

.main__pricing--cost {
    font-size: 5rem;
    font-weight: 700;

}
.main__pricing--month {
    font-size: 1.5rem;
}

.btn {
    border: none;
    border-radius: 10px;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    font-weight: 700;
}

.apple {
    color: var(--white);
    background-color: #000;
    margin-bottom: 1rem;
}

footer {
    margin: 2.5rem 2.5rem 10rem 2.5rem;
}

.footer__logo {
    margin-bottom: 2rem;
}

.footer__copy {
    margin-bottom: 3rem;
    line-height: 1.75rem;
}

.footer__copy--email {
    font-weight: 700;
}

.footer__social--links {
    display: flex;
    gap: 1.5rem;

}
