* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
}
:root {
    --blue: #66E2DC;
    --orange: #FA7453;
    --yellow: #FFB964;
    --white: #FCFAF9;
    --dark-blue: #191826
}

body {
    padding: 2rem
}

header {
    background-image: url("./assets/bg-main-mobile.png");
    background-size: cover;
}
.header__logo {
    margin-bottom: 3rem;
}
.header__copy {
    width: 95%;
    margin-bottom: 2rem;
    letter-spacing: 1.5px;
}

.header__copy h1 {
    margin-bottom: 2rem;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main__image img {
  width: 200px;
}
